html body {
    height: 100%;
}

/* DIV Principal contenedor todo */
.contenedor {
    display: flex;
    flex-direction: column;
}
/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    background: black;
}
.headercont {
    display: flex;
    flex-direction: row;
    background: black;
    margin: 11px 11px;
}
/* Header Logo, Titulo y icono */
.head1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imglogo {
    height: 80px;
    width: 171px;
    margin: 0 5px;
}
.iconmenu {
    filter: invert(100%);
    height: 32px;
    margin: 0 5px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 36px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}
/* Header opciones */
.head2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnheader {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px;
    border: 3px solid rgb(255 127 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.btnheader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 127 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btnheader:hover {
    color: black;
}

.btnheader:hover::before {
    transform: translateX(0);
}
/* Boton Cerar Sesion */

.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #000000e0;
}

.noselect,
.noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(35px);
    color: white;
    margin-left: -22px;
    font-weight: bold;
}

.noselect .icon {
    position: absolute;
    border-left: 1px solid #ffffff;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon img {
    transform: scale(0.8);
}
/* backbtn */
.btnback {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.btnback:before,
.btnback:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.btnback:before {
    border: 4px solid #F0EEEF;
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.btnback:after {
    border: 4px solid #f67609;
    transform: scale(1.3);
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
}

.btnback:hover:before,
.btnback:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
}

.btnback:hover:after,
.btnback:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.btnback-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.btnback-elem {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #F0EEEF;
}

.btnback:hover .btnback-box,
.btnback:focus .btnback-box {
    transition: .4s;
    transform: translateX(-56px);
}

.iconbtn {
    filter: invert(100%);
}
/* contenedor informes */
.continformes {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 9px 26px;
    align-items: center;
    background: #000000e0;
}

.labelreportes {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 36px;
    margin-right: 10px;
}

.selectform {
    height: 35px;
    width: 1px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

select {
    width: 50%;
    height: 100%;
    outline: none;
    border: 2px solid orange;
    background: #212121;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center
}

.reportebtn {
    color: rgb(14, 14, 14);
    margin: 0px 36px;
    width: 180px;
    transition: .5s;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    height: 45px;
    border-radius: 5px;
    background: orange;
    justify-content: center;
}

.reportebtn:hover {
    cursor: pointer;
}

.iconreporte {
    filter: invert(100%);
}

.labelReportes {
    color: white;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.form-selectP {
    display: none;
}
.HDiatxt {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 27px;
    margin-left: 10px;
}

.dateinput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 200px;
    background-color: black;
    box-shadow: 0 0 10px orange;
    color: white;

}

/* Cambia el color del borde cuando el input está enfocado */
.dateinput:focus {
    border-color: #007bff; /* Cambia el color a tu preferencia */
}

/* Cambia el estilo del calendario emergente (esto puede variar según el navegador) */
.dateinput::-webkit-calendar-picker-indicator {
    filter: invert(30%); /* Invierte el color del ícono del calendario (solo en Chrome) */
}